body{
  background-color: #282c34;
}
.App {
  color: #ffffff;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}
.mg{
  margin-top: 20rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
form{
  display: flex;
  flex-direction: column;
}
form input{
  background-color: #15172b;
  border-radius: 20px;
  color: #ffffff;
  box-sizing: border-box;
  height: 2rem;
  padding: 20px;
  width: 320px;
}
form button{
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  outline: 0;
  text-align: center;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a{
  font-size: 2rem;
  color: white;
  display: hidden;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
